.div5{
    background-color: blue;
}
.div6{
    background-color: lightgreen;
}
.div7{
    background-color: orange;
}
.div8{
    background-color: crimson;
}
.containernot{
    color: white;
}
.hd2{
    color: black;
}